<section id="home">
  <div class="container intro">
    <h1>OSSO Ceramics</h1>
  </div>
</section>

<section id="arts">
  <div class="container">
    <div class="mission text-left col-md-4">
      <h2>A FullStack Developer living in the Roaring Fork Valley. My Passions revolve around the outdoors and Aesthetic Beauty. The achievement of finding a flow state is one of lifes highest goals. I am blessed to have achieved this in a variety of mediums and arts. Of these my Ceramics is the embodiement of flow. 
      </h2>
    </div>
  </div>
</section>

<section id="fart">
  <div class="container">
    <div class="education text-left col-md-4">
     <h1>Education</h1>
     <ul>
       <li>Skidmore College</li>
       <li>Sierra Nevada College</li>
       <li>San Francisco Potter Studio</li>
       <li>Sierra Nevada Community College</li>
       <li>City College of San Francisco</li>
       <li>Boulder Potter's Guild</li>
       <li>Arvada Potter's Guild</li>
     </ul>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="col-md-4 contact" id="contact">
      <h1>Contact</h1>
      
      <p><a href="mailto:paulsiskind@gmail.com" target="_top">paulsiskind@gmail.com
        </a>
      </p>
      <ul>
        <li><a href="http://github.com/paulsiskind/"><i class="fa fa-github fa-5x"></i></a></li><br>
        <li><a href="http://www.linkedin.com/in/paul-siskind-07887217/"><i class="fa fa-linkedin-square fa-5x"></i></a></li><br>
        <li><a href="http://www.instagram.com/bodiezhafa/"><i class="fa fa-instagram fa-5x"></i></a></li>
      </ul>
    </div>
  </div>
</section>